.App {
  text-align: center;
  /* background-color: #DADBDD; */
}

body {
  background-color: #DADBDD;
}

.navbar {
  display: block;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #1b1b1b;
  padding: 1em;
  min-height: 2em;
  font-family: 'Georgia';
  text-shadow: 2px 4px 10px red;
  text-decoration: none;
}

.navLinks {
  margin: 3%;
  text-decoration: none;
  color: white;
}

.addPost {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1F1F1E;
  color: white;
  height: 90vh;
  
}

.editPost {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1F1F1E;
  color: white;
  height: 90vh;
}

#title,
#description,
#requirements,
#location,
#salary,
#application_url {
  width: 200px;
  padding: 4px;
  margin-bottom: 10px;
  left: 5%;
  box-sizing: border-box; 
  display: block;
} 

#loginEmail,
#loginPassword {
  width: 200px;
  padding: 4px;
  margin-bottom: 10px;
  left: 5%;
  box-sizing: border-box; 
  display: block;
}

#regCompany,
#regEmail,
#regPassword,
#regConfirm,
#regFirstName,
#regLastName {
  width: 200px;
  padding: 4px;
  margin-bottom: 10px;
  left: 5%;
  box-sizing: border-box; 
  display: block;
}

.col {
  background-color: #1F1F1E;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 3rem;
  box-shadow: 2px 4px 10px white;
  color: white;
  align-items: center;
}

.login .col {
  background-color: #1F1F1E;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 3rem;
  box-shadow: 2px 4px 10px white;
  color: white;
}

.card-overlay {
  background-color: #1F1F1E;
  height: 1230px;
}

.registration-page {
  background-color: #1F1F1E;
  height: 1200px;
}

.employerName, .seekerName {
  background-color: #1F1F1E;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 3rem;
  box-shadow: 2px 4px 10px white;
  color: white;
}

button {
  margin-top: 2rem;
  margin: 1%;

}

.allJobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.jobPost-card {
  background-color: #EAECEC;
  box-sizing: border-box;
  border-radius: 25%;
  margin: 5%;
  padding: 5%;
}